name: github-action

on: [push, pull_request] 

jobs:
  build:
    strategy:
      matrix:
        ghc: ['8.10.7']
        os: ['ubuntu-latest', 'macos-latest']
    runs-on: ${{ matrix.os }}

    name: GHC ${{ matrix.ghc }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: haskell-actions/setup@v2
      with:
        ghc-version: ${{ matrix.ghc }}
    - name: Cache
      uses: actions/cache@v1
      env:
        cache-name: cache-cabal
      with:
        path: ~/.cabal
        key: ${{ runner.os }}-${{ matrix.ghc }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/cabal.project') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-${{ matrix.ghc }}-build-
          ${{ runner.os }}-${{ matrix.ghc }}-
          ${{ runner.os }}
    - name: Install daml sdk
      run:
        curl -sSL https://get.daml.com/ | sh
    - name: Install dependencies
      run: |
        cabal update
        cabal --project-file=ci-cabal.project configure
        cabal --project-file=ci-cabal.project build --only-dependencies --enable-tests --enable-benchmarks all
    - name: Build
      run: cabal --project-file=ci-cabal.project build --enable-tests --enable-benchmarks all
    - name: Run tests
      run: cabal --project-file=ci-cabal.project test all
